# GitHub OAuth client ID. Override in .env.local to use your own OAuth App.
HELMOR_GITHUB_CLIENT_ID=Ov23lijdFdN5ZxRNSHah

HELMOR_UPDATER_ENDPOINTS=https://github.com/Varuas37/helmor-fork/releases/latest/download/latest.json
HELMOR_UPDATER_PUBKEY=dW50cnVzdGVkIGNvbW1lbnQ6IG1pbmlzaWduIHB1YmxpYyBrZXk6IDFEMDcyNURCMEQzM0U2REUKUldUZTVqTU4yeVVISGZVd0sxc3EycTBtQVRZZGp0WU9IL2lGMjQyVnNQM1luSXJJcnVnWGJQQ2EK
